body {
  background-color:rgb(35, 52, 85);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin: 0;
  line-height: 16px;
}

.form-container {
  height: auto;
  margin-top: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.form-hero {
  height: 45vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: white;
  font-size: 36px;
  margin: 15px;
  font-weight: bold;
}

.form-content {
  background-color: white;
  padding: 50px 20px; /* Added padding on the sides */
  height: 55vh;
}

.form-box {
  max-width: 837px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-row {
  margin-bottom: 15px;
  margin-bottom: 15px;
  display: flex; /* Added flex to enable responsive behavior */
  flex-wrap: wrap; /* Allow items to wrap */
}

.input-row > div {
  flex: 1; /* Allow child divs to grow equally */
  min-width: 250px; /* Set a minimum width for responsiveness */
  margin: 5px; /* Added margin for spacing */
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-input,
.textarea-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #7d7c7c9f;
}

.submit-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 20%; /* Make the button full width */
  margin-top: 10px; /* Add space above the button */
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* Alert styles */
.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}

.map {
  margin-top: 20px;
  height: 350px;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contact-info {
  text-align: center;
  margin: 40px;
  font-size: 18px;
  color: #007bff;
  
}

.contact-info a {
  color:white;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%; /* Make button full width on mobile */
  }
}
